@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 22px 0 37px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 72px;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
}

.nav .navbar__right {
  display: flex;
}

.nav .navbar__right .navbar__searchForm {
  position: relative;
  display: flex;
  width: 100%;
}

.nav .navbar__right .navbar__searchForm .navbar__searchIcon {
  position: absolute;
  z-index: 10;
  font-size: 18px;
  color: #adb5bd;
  line-height: 38px;
  left: 10px;
  top: 7px;
  width: 20px;
  height: 20px;
}

.nav .navbar__right .navbar__searchForm .navbar__searchInput {
  border: 1px solid transparent;
  height: 38px;
  padding-left: 40px;
  padding-right: 20px;
  background-color: #f3f4f7;
  box-shadow: none;
  border-radius: 0.3rem;
}

.nav .navbar__right .navbar__menuIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav .navbar__right .navbar__menuIcon .navbar__menuIcon--item {
  padding: 0 10px;
}

@media screen and (max-width: 625px) {
  body .nav .navbar__right {
    display: none;
  }
}

.sideMenu {
  width: 250px;
  background: #ffffff;
  bottom: 0;
  padding: 0px 0 30px 0;
  position: fixed;
  top: 72px;
  transition-duration: 0.2s;
  box-shadow: 1px 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
  z-index: 99;
}

.sideMenu .userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 15px 30px;
}

.sideMenu .userInfo .userInfo__media {
  flex: 1;
}

.sideMenu .userInfo .userInfo__avatar {
  margin-right: 10px;
}

.sideMenu .userInfo .userInfo__avatar .avatar {
  border-radius: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sideMenu .userInfo .userInfo__media .userInfo__name {
  color: #4B4B5A;
  font-weight: 600;
}

.sideMenu .userInfo .userInfo__media .userInfo__role {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.sideMenu .userInfo .profileDropdown__icon {
  width: 24px;
  height: 24px;
  color: #4B4B5A;
  background-color: rgba(75, 75, 90, 0.1);
  border-radius: 3px;
}

